<label for="make">${properties.makeTitle}</label>
<select name="make" id="make" class="custom-select">
  <option value="makeaselection">Make a selection</option>
</select>
<label for="model">${properties.modelTitle}</label>
<select name="model" id="model" class="custom-select" disabled>
  <option value="selectone">Select One</option>
</select>
<p id="cardatadisplay" class="car-para-font-style"></p>
<input type="hidden" id="carDataPath" name="carDataPath" value="${properties.carDataJsonPath}">
<input type="hidden" id="selectedDataValue" name="selectedDataValue" value="${properties.selectedDataValue}">
